#root {
    background-color: black;
    background: url(http://www.script-tutorials.com/demos/360/images/stars.png) top center #000;
    box-sizing: border-box;
}

.title {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-family: 'Playfair Display', serif;
    font-size: 52px;
    color: yellow;
}

.title-component {
    color: yellow;
    text-align: center;
    font-size: 32px;
}


.NavLink-items {
    font-size: 24px;
}

thead:hover {
    cursor: pointer;
}

.home_page-category {
    display: inline-block;
    margin-left: 10px;
}

.home_page-container {
    margin-left: 70px;
    margin-right: auto;
}

.title-image {
    color: yellow;
}

footer {
    width: 80px;    
}

.title-details {
    color: yellow;
    text-align: center;
    font-size: 32px;
}

.details-container {
    color: white;
}

.sortable-column::after {
    content: "\21D3""\21D1";
    color: yellowgreen;
}

.image {
    width: 130px;
    height: 150px;
}


